
// Write your custom style. Feel free to split your code to several files
body {
  //color: blue;
}

.blog p, li {
  font-size: 16px;
}


.section .row {
  font-size: 17px;
}


.lead, .pricing-4 .plan-price p {
  font-size: 22px;
}

.btn {
  font-size: 18px
}


.nav .nav-navbar {
  font-size: 17px;
}


.support img {
  margin-bottom: 5px;
  margin-right: 10px;
}
