node_modules
*.min.js
*.min.js.map
*.min.css
*.min.css.map
*.map
.DS_Store
package-lock.json
src/assets/fonts/
src/assets/css/
src/assets/fonts/
src/assets/js/page*
dist/

.vscode

# build folder for v2 react site
v2/build/

# compiled v2 react html entry point
src/v2/index.html
