h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li {
  margin-bottom: 16px;
}

.section {
  padding-bottom: 32px;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol li {
  margin-left: 24px;
}
