{% extends "layout.html" %}

{% block content %}

<header class="header text-center text-white" style="background-image: url(../assets/img/logos/lighthouse_milkyway.jpg)"
  data-overlay="7">
  <canvas class="constellation" data-radius="0"></canvas>
  <div class="container text-center">

    <div class="row">
      <div class="col-md-8 mx-auto">

        <h1 class="display-41">Open Source</h1>
      </div>
    </div>

  </div>
</header>

<main class="main-content">




  <section class="section overflow-hidden  bg-white">
    <div class="container">
      <div class="row gap-y align-items-center">

        <div class="col-lg-6 mx-auto">
          <h2>Kubernetes</h2>
          <p class="lead mb-7">Flanksource focuses entirely on Kubernetes and the surrounding Cloud Native ecosystem
          </p>

          <p class="mt-6">
            <a class="text-uppercase fw-600 ls-2 small-2" href="https://kubernetes.io">Kubernetes.io<i
                class="ti-arrow-right fs-10 ml-1"></i></a>
          </p>
        </div>

        <div class="col-lg-5" style="text-align: center">
          <img src="../assets/img/kubernetes.svg" style="height: 250px">
        </div>

      </div>
    </div>
  </section>


  <section class="section overflow-hidden bg-gray">
    <div class="container">
      <div class="row gap-y align-items-center">

        <div class="col-lg-6 mx-auto">
          <h2>Karina </h2>
          <p class="lead mb-7">
            Karina is the flagship toolkit used by Flanksource teams on a daily basis to provision and operate
            kubernetes based platforms.
          </p>

          <div class="row">

            <div class="col-md-6">
              <i class="fa fa-caret-right text-lightest mr-2"></i> Cluster Provisioning<br>
              <i class="fa fa-caret-right text-lightest mr-2"></i> Integrated Production Runtime
            </div>


            <div class="col-md-6">

              <i class="fa fa-caret-right text-lightest mr-2"></i> E2E Testing Framework<br>
              <i class="fa fa-caret-right text-lightest mr-2"></i> Day 2 CLI Tools<br>
            </div>

          </div>

          <p class="mt-6">
            <a class="text-uppercase fw-600 ls-2 small-2"
              href="https://github.com/flanksource/karina">github.com/flanksource/karina<i
                class="ti-arrow-right fs-10 ml-1"></i></a>
          </p>
        </div>

        <div class="col-lg-5" style="text-align: center">
          <img src="../assets/img/rocket_home.png">
        </div>

      </div>
    </div>
  </section>

  <section class="section overflow-hidden  bg-white">
    <div class="container">
      <div class="row gap-y align-items-center">
        <div class="col-lg-6 mx-auto">
          <h2>Cluster API</h2>
          <p class="lead mb-7">Since the early days Flanksource has been involved in the design and development of
            Cluster API, a Kubernetes project to bring declarative, Kubernetes-style APIs to infrastructure-agnostic
            creation,
            configuration, and management of clusters.
          </p>
          <div class="row">
            <div class="col-md-12">
              <h6>Cluster API Adopters</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> vmware</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Google</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Redhat</p>
            </div>

            <div class="col-md-6">
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> New Relic</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Microsoft</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> D2IQ</p>
            </div>
          </div>

          <p class="mt-6">
            <a class="text-uppercase fw-600 ls-2 small-2"
              href="https://github.com/kubernetes-sigs/cluster-api">github.com/kubernetes-sigs/cluster-api<i
                class="ti-arrow-right fs-10 ml-1"></i></a>
          </p>
        </div>
        <div class="col-lg-5" style="text-align: center">
          <img src="../assets/img/cluster-api.svg" style="height: 300px">
        </div>
      </div>
    </div>
  </section>


  <section class="section bg-gray">
    <div class="container">
      <header class="section-header">

        <h2>Other Flanksource Projects</h2>
        <hr>
      </header>



      <div class="row gap-y">



        <div class="w-100"></div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><i class="icon-layers"></i></div>
            <div class="media-body">
              <h5>Konfigadm <a href="https://www.github.com/flanksource/konfigadm"><i class="fa fa-github"></i></a></h5>
              <p>Multi OS node configuration tool with support for cloud-init and bash</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><i class="icon-megaphone"></i></div>
            <div class="media-body">
              <h5>Canary Checker <a href="https://www.github.com/flanksource/canary-checker"><i
                    class="fa fa-github"></i></a></h5>
              <p>Tool for running tests against external services and exporting metrics via Prometheus</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><i class="icon-gears"></i></div>
            <div class="media-body">
              <h5>Platform Operator <a href="https://www.github.com/flanksource/platform-operator"><i
                    class="fa fa-github"></i></a></h5>
              <p>A multi-tenancy operator with support for cluster wide resource quotas, resource cleanup and
                defaulting. </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><i class="icon-edit"></i></div>
            <div class="media-body">
              <h5>YAML Library <a " href=" https://www.github.com/flanksource/yaml"><i class="fa fa-github"></i></a>
              </h5>
              <p>go-yaml fork with support for templating using <code>!!env</code> and <code>!!template</code> </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1  text-dark  w-70px"><i class="icon-puzzle"></i></div>
            <div class="media-body">
              <h5>Commons <a href="https://www.github.com/flanksource/commons"><i class="fa fa-github"></i></a></h5>
              <p>Golang utility library used across all flanksource projects</p>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section>


  <section class="section  bg-white">
    <div class="container">
      <header class="section-header">

        <h2>Technology We <i style="color:red; font-size: 22px;" class="icon-heart"></i></h2>
        <hr>
      </header>



      <div class="row gap-y">



        <div class="w-100"></div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/aws.svg">
            </div>
            <div class="media-body">
              <h5>Amazon Web Services</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/azure_icon.png"></div>
            <div class="media-body">
              <h5>Microsoft Azure</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/gcp_icon.png"></div>
            <div class="media-body">
              <h5>Google Cloud</h5>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/vsphere.svg">
            </div>
            <div class="media-body">
              <h5>vSphere</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/openshift_icon.png"></div>
            <div class="media-body">
              <h5>OpenShift</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/kops_icon.svg"></div>
            <div class="media-body">
              <h5>kops</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/opa.svg">
            </div>
            <div class="media-body">
              <h5>Open Policy Agent</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/vault_icon.png"></div>
            <div class="media-body">
              <h5>Hashicorp Vault</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/grafana.svg">
            </div>
            <div class="media-body">
              <h5>Grafana</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/prometheus.svg"></div>
            <div class="media-body">
              <h5>Prometheus</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px">
              <img style="width: 50px" src="../assets/img/logos/thanos.png">
            </div>
            <div class="media-body">
              <h5>Thanos</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="height: 50px"
                src="../assets/img/logos/istio_icon.svg"></div>
            <div class="media-body">
              <h5>Istio</h5>
              <p></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="height: 50px"
                src="../assets/img/logos/flux.svg">
            </div>
            <div class="media-body">
              <h5>Flux</h5>
              <p></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/elastic.png">
            </div>
            <div class="media-body">
              <h5>Elastic Stack</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/calico.png">
            </div>
            <div class="media-body">
              <h5>Calico</h5>
              <p></p>
            </div>
          </div>
        </div>



        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/postgres.svg"></div>
            <div class="media-body">
              <h5>Postgres</h5>
              <p></p>
            </div>
          </div>
        </div>



        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/tekton.png"></div>
            <div class="media-body">
              <h5>Tekton</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/kubeadm.png"></div>
            <div class="media-body">
              <h5>Kubeadm</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/terraform.png"></div>
            <div class="media-body">
              <h5>Terraform</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/nginx.png"></div>
            <div class="media-body">
              <h5>Nginx</h5>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/nsx.svg"></div>
            <div class="media-body">
              <h5>NSX-T</h5>
              <p></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/harbor.png"></div>
            <div class="media-body">
              <h5>Harbor</h5>
              <p></p>
            </div>
          </div>
        </div>



        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/velero.png"></div>
            <div class="media-body">
              <h5>Velero</h5>
              <p></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/sonobuoy.png"></div>
            <div class="media-body">
              <h5>Sonobuoy</h5>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/cert-manager.svg"></div>
            <div class="media-body">
              <h5>Cert Manager</h5>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/dex.png"></div>
            <div class="media-body">
              <h5>Dex</h5>
              <p></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-4">
          <div class="media">
            <div class="lead-6 line-height-1 text-dark w-70px"><img style="width: 50px"
                src="../assets/img/logos/go.svg"></div>
            <div class="media-body">
              <h5>Golang</h5>
              <p></p>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section>


  <section class="section  bg-gray">
    <div class="container">
      <header class="section-header">

        <h2>Open Source Support Subscriptions</h2>
        <hr>
      </header>

      <table class="table">
        <thead>
          <tr style="font-weight: bold">

            <td></td>
            <td>Mission Critical</td>
            <td>Production</td>
            <td>Business</td>

          </tr>
        </thead>
        <tr>
          <td style="font-weight: bold">Availability</td>
          <td>


            <img style="height: 50px" src="../assets/img/logos/karina.png">
            <img style="width: 50px" src="../assets/img/kubernetes.svg">
            <img style="width: 50px" src="../assets/img/logos/calico.png">
            <img style="width: 50px" src="../assets/img/cluster-api.svg">
          </td>
          <td>
            <img style="height: 50px" src="../assets/img/logos/vault_icon.png">
            <img style="width: 50px" src="../assets/img/logos/postgres.svg">
            <img style="width: 50px" src="../assets/img/logos/elastic.png">

            <img style="width: 50px" src="../assets/img/logos/openshift.svg">
            <img style="width: 50px" src="../assets/img/logos/thanos.png">
            <img style="height: 50px" src="../assets/img/logos/prometheus.svg">
            <img style="height: 50px" src="../assets/img/logos/opa.svg">

          </td>
          <td><img style="height: 50px" src="../assets/img/logos/tekton.png"></td>
        </tr>
        <tr>
          <td style="font-weight: bold">Roadmap</td>
          <td></td>
          <td>
            <img style="height: 50px" src="../assets/img/logos/istio_icon.svg">
            <img style="height: 50px" src="../assets/img/logos/kafka.svg">
            <img style="height: 50px" src="../assets/img/logos/cassandra.png">
            <img style="height: 50px" src="../assets/img/logos/rancher.png">

          </td>
          <td></td>
        </tr>
        <tr>
          <td style="font-weight: bold">Response SLA</td>
          <td>30 min</td>
          <td>4h</td>
          <td>2 bus days</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Mitigation Target</td>
          <td>2h</td>
          <td>Best Effort</td>
          <td>Best Effort</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Upstream Advocacy</td>
          <td>Included</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="font-weight: bold">Hotfixes</td>
          <td>Development</td>
          <td>Cherry Picks Only</td>
          <td></td>
        </tr>
        <tr>
          <td style="font-weight: bold">Min RTO</td>
          <td>15min</td>
          <td>4h</td>
          <td>1d</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Min RPO</td>
          <td>Zero Data Loss</td>
          <td>4h</td>
          <td>1d</td>
        </tr>
      </table>


    </div>
  </section>


  {% set contactColor = "white" %}
  {% include 'contact.html' %}
</main>


{% endblock %}
